.trending {
    position: relative;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.trending-sushi, .trending-drinks {
    width: 100%;
    min-height: 500px;
    /*determines the height of the section*/
    /*was 640px*/
    display: flex;
    flex-direction: row;
    /*these section will align by each other horizontally*/
    
}

.trending__content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 64px;
}

.trending__list {
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.trending__list li {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    min-width: 210px;
}

.trending__icon {
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 100%;

}

.trending__icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.trending__list p {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
}

.trending__image {
    flex: 1;
    position: relative;
    padding: 32px 64px;
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*the text is hidden behind sushi image by now*/
}


.trending-sushi, .trending__image {
    background-image: url(../../assets/japanese_sushi.png);
    /*text is not vsisible with this therefore the above class styling will make text appear*/
}

.trending-drinks,
.trending__image {
    background-image: url(../../assets/japanese_drinks.png);
    /*text is not visible with this therefore the above class styling will make text appear*/
}

.trending__image img {
    /*resizes the sushi and drinks images*/
    width: 254px;
    height: 260px;
    object-fit: contain;
}

/* DISCOVER BUTTON*/

.trending__discover {
    position: absolute;
    top: 44%;
    left: 44%;
    z-index: 1;
    width: 160px;
    height: 160px;
    background-color: var(--secondary-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending__discover p {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
}

/*DISCOVER BUTTON*/

/*DISCOVER MORE BUTTON FOR PHONE*/

/* .trending__phone-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 93%;
    /*pushes the button to the bottom*/
    /* left: 60%; */
    /*pushes the button to the right*/
    /* width: 260px;
    padding: 15px 20px;
    border-radius: 46px;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--plus-jakarta-sans);
    font-size: 20px;
    outline: none;
    border: none;


} */

.trending__phone-button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    outline: none;
    font-family: var(--plus-jakarta-sans);
    font-size: 18px;
    padding: 15px 20px;
    width: 100%;
    display: none;

}


/*DISCOVER MORE BUTTON FOR PHONE*/

/* Arrows */
.trending__arrow {
    position: absolute;
    z-index: 1;
}

.trending__arrow img {
    object-fit: contain;
}

/*this arrow is to be pushed to the top*/
.trending__arrow-left {
    top: -10.5px;
    left: 24%;
}

.trending__arrow-left img,
.trending__arrow-top img {
    width: auto;
    height: 100%;
}

/*to be moved to pushed a little to the left*/
.trending__arrow-top {
    left: -2.5px;
    /*the higher the negative no. the more it will move to the left*/
    top: 6%;
}

/*to be pushed a little to the right*/
.trending__arrow-bottom {
    right: -2.5px;
    bottom: 6%;
    /*the higher the percentage the higher the arrow is pushed up*/
}

.trending__arrow-bottom img,
.trending__arrow-right img {
    width: 100%;
    height: auto;
}

/*to be pushed a little to the bottom*/
.trending__arrow-right {
    bottom: -6.5px;
    right: 24%;
}