.menu__header,
.header__menu-mobile {
    padding: 20px;
    flex: 3;
    /* made the menu list push the color to the left more*/
    display: flex;
    /*puts items in a row*/
    align-items: center;
    /*centers items in the space it occupies*/
    justify-content: flex-end;
    /*items have been push to the end of the space*/
    gap: 64px;
    /*spaces out the li items*/
    list-style: none;
}

.menu__header li {
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}

.menu__header li img {
    width: 24px;
    height: 24px;
    object-fit: contain;

}

.header__menu-mobile {
    gap: 20px;
    position: relative;
    display: none;
    /*removed menu image from display*/
}